
<div class="clearfix"></div>
	<!-- INFO BAR -->
	<section class="info-bar info-bar-clean">
		<div class="container">

			<div class="row">

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-globe"></i>
					<h3>FREE SHIPPING &amp; RETURN</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-usd"></i>
					<h3>MONEY BACK GUARANTEE</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-flag"></i>
					<h3>ONLINE SUPPORT 24/7</h3>
				</div>

				<div class="col-sm-3">
					<i class="glyphicon glyphicon-heart"></i>
					<h3><span class="countTo">9845</span> HAPPY CUSTOMERS</h3>
				</div>

			</div>

		</div>
	</section>
	<!-- /INFO BAR -->
		<div class="container">
			<h2 class="owl-featured noborder"><strong>FEATURED</strong> PRODUCTS</h2>
			<div id="myCarousel" class="row container carousel slide hidden-xs featured-items" data-ride="carousel" data-interval="1000" id="myCarousel">
				<div class="carousel-inner row">
					<% Category.find_by(slug: "must-have-items").item_categories.each_slice(6).with_index do |slice, idx| %>
							<% active = idx == 0 ? "active" : "" %>
							<div class="item <%= active %>">
								
									<% slice.each do |i| %>
										<%= render :partial => "shop/featured_item", :locals => {:item => i.item} %>
									<% end %>
							</div>	
					<% end %>
				</div>
			</div>
		</div>
	<!-- /FEATURED -->

	<!-- NEW PRODUCTS -->
			<section>
				<div class="container">

					<div class="heading-title heading-dotted">
						<h2 class="size-20">NEW PRODUCTS</h2>
					</div>

					<ul class="shop-item-list row list-inline nomargin">
						<% Category.find_by(slug: "must-have-items").item_categories.each_slice(6).with_index do |slice, idx| %>
							<% active = idx == 0 ? "active" : "" %>
							<div class="item <%= active %>">
								
									<% slice.each do |i| %>
										<%= render :partial => "shop/new_featured_item", :locals => {:item => i.item} %>
									<% end %>
							</div>	
						<% end %>
					</ul>
				</div>
			</section>
			<!-- NEW PRODUCTS -->
