<!DOCTYPE html>
<html>
<head>
  <title>Smarty</title>
  <%= stylesheet_link_tag    "smarty/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "smarty/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>